MegaTravel_XML/src/main/resources/data/MegaTravelShema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="pricing">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="price">
                    <xs:simpleType>
                        <xs:restriction base="xs:double">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="dateFrom" type="xs:date"/>
                <xs:element name="dateTo">
                    <xs:simpleType>
                        <xs:restriction base="xs:date"/>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="image">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="title">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="2"/>
                            <xs:maxLength value="30"/>
                            <xs:pattern value="([a-zA-Z0-9 ])+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="uri" type="xs:anyURI"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="pricingList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="pricing"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="location">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="geoLength">
                    <xs:simpleType>
                        <xs:restriction base="xs:float">
                            <xs:minInclusive value="-180"/>
                            <xs:maxInclusive value="180"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="geoWidth">
                    <xs:simpleType>
                        <xs:restriction base="xs:float">
                            <xs:minInclusive value="-90"/>
                            <xs:maxInclusive value="90"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="address">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="street">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="3"/>
                            <xs:maxLength value="30"/>
                            <xs:whiteSpace value="replace"/>
                            <xs:pattern value="([a-zA-Z ])+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="number">
                    <xs:simpleType>
                        <xs:restriction base="xs:positiveInteger">
                            <xs:pattern value="([0-9])+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="city">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="3"/>
                            <xs:maxLength value="30"/>
                            <xs:pattern value="([a-zA-Z ])+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="country">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="3"/>
                            <xs:maxLength value="30"/>
                            <xs:pattern value="([a-zA-Z ])+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="accommodationUnit">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="capacity" type="xs:positiveInteger"/>
                <xs:element minOccurs="0" name="size">
                    <xs:simpleType>
                        <xs:restriction base="xs:positiveInteger">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element ref="pricing"/>
                <xs:element maxOccurs="12" minOccurs="0" ref="additional_services"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="accommodation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="name">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="3"/>
                            <xs:maxLength value="30"/>
                            <xs:whiteSpace value="replace"/>
                            <xs:pattern value="([a-zA-Z0-9 ])+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="cancelationDays">
                    <xs:simpleType>
                        <xs:restriction base="xs:positiveInteger">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="type">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="hotel"/>
                            <xs:enumeration value="bed_and_breakfast"/>
                            <xs:enumeration value="apartment"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element ref="accommodationUnit"/>
                <xs:element ref="user"/>
                <xs:element ref="address"/>
                <xs:element name="rating">
                    <xs:simpleType>
                        <xs:restriction base="xs:double">
                            <xs:minInclusive value="0"/>
                            <xs:maxInclusive value="5"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="category">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="1"/>
                            <xs:enumeration value="2"/>
                            <xs:enumeration value="3"/>
                            <xs:enumeration value="4"/>
                            <xs:enumeration value="5"/>
                            <xs:enumeration value="uncategorized"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element maxOccurs="unbounded" ref="image"/>
                <xs:element name="description">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="([a-zA-Z0-9\. ])+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element maxOccurs="12" minOccurs="0" ref="additional_services"/>
                <xs:element ref="location"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="renting">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element ref="accommodationUnit"/>
                <xs:element ref="user"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="additional_services">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="name">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="parking"/>
                            <xs:enumeration value="WiFi"/>
                            <xs:enumeration value="breakfast"/>
                            <xs:enumeration value="half borad"/>
                            <xs:whiteSpace value="preserve"/>
                            <xs:enumeration value="full board"/>
                            <xs:enumeration value="all inclusive"/>
                            <xs:enumeration value="pet friendly"/>
                            <xs:enumeration value="TV"/>
                            <xs:enumeration value="kitchen"/>
                            <xs:enumeration value="bathroom"/>
                            <xs:enumeration value="free canceling"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="priceOfAdd">
                    <xs:simpleType>
                        <xs:restriction base="xs:double">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="messages">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="content">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="1000"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element ref="user"/>
                <xs:element name="title">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="date" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="user">
        <xs:sequence>
            <xs:element name="id">
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="firstName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="2"/>
                        <xs:maxLength value="20"/>
                        <xs:pattern value="[a-zA-Z ]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="lastName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="2"/>
                        <xs:maxLength value="20"/>
                        <xs:pattern value="[a-zA-Z ]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="userName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="2"/>
                        <xs:maxLength value="20"/>
                        <xs:pattern value="[a-zA-Z]([a-zA-Z0-9_\.])*"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="email">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="2"/>
                        <xs:maxLength value="30"/>
                        <xs:pattern value="[a-z0-9._%+-]+@[a-z0-9.-]+\.([a-z])+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="status">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="active"/>
                        <xs:enumeration value="block"/>
                        <xs:enumeration value="unverified"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="password">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="6"/>
                        <xs:maxLength value="30"/>
                        <xs:pattern value="[a-zA-Z0-9_\.]*"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="active" type="xs:boolean"/>
            <xs:element ref="address"/>
            <xs:element name="role">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="admin"/>
                        <xs:enumeration value="user"/>
                        <xs:enumeration value="agent"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="pib">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="8"/>
                        <xs:maxLength value="13"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="administrator">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="user"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="client">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="user"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="agent">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="user"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
